//custom variables
$primary: #5265E1;
$secondary: #FA5959;

body > div {
    margin: 100px 0;
}

#first-tab{
    border-top: #e9ecef solid 1px;
    font-weight: bold;
}

#first-text{
    padding: 5px;
    border-bottom: #FA5959 solid 3px;
}

@media screen and (min-width: 768px) {
    #first-tab{
        border-top: none;
    }

    #container-tabs{
        max-width: 75%;
    }
   
}


.nav-item {
    border-bottom: #e9ecef solid 1px;
}

.card {
    border: none;
    box-shadow: 5px 10px 18px #888888;
}

#cajita {
    margin-top: 50px;
    height: 150px;
    width: 150px;
}

#botoncito {
    padding-top: 20px;
    border-top: rgb(198, 195, 195) dotted;
}

@media screen and (max-width: 992px) {
    .card {
        width: 13rem !important;
    }
}

@media screen and (max-width: 768px) {

    #cards {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        width: 100%;
    }

    .card {
        margin: 20px 0px;
        align-self: center !important;
        width: 100% !important;
    }
}

.accordion-button:after {
    background-image: url("../images/icon-arrow.svg") !important;
}



#accordion-top {
    border-top: #e9ecef solid 1px;
}

#accordion-bottom {
    border-bottom: #e9ecef solid 1px;
}



//import functions and variables
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

//import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";